/*
**
** Author: Andrea Ferretti
** Author: Hongwei Xi (for minor changes)
**
*/

/* ****** ****** */

body {
  font-family:
  "Palatino Linotype",
  "Book Antiqua", Palatino, serif;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 150%;
}

font {
  font-family:
  Inconsolata, "Courier New", Courier, monospace;
  font-size: 90%;
  padding: 2px 4px;
  background-color: #e0e0e0;
}

a {
  color: #707070;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

h1 a {
  color: black;
  font-style: normal;
}

/* ****** ****** */

.programlisting {
  padding: 4px 8px;
  line-height: 144%;
  border-radius: 6px;
  background-color: #e0e0e0;
}

/* ****** ****** */

<style type="text/css">
  .patsyntax {color:#808080;background-color:#E0E0E0;}
  .patsyntax span.keyword {color:#000000;font-weight:bold;}
  .patsyntax span.comment {color:#787878;font-style:italic;}
  .patsyntax span.extcode {color:#A52A2A;}
  .patsyntax span.neuexp  {color:#800080;}
  .patsyntax span.staexp  {color:#0000F0;}
  .patsyntax span.prfexp  {color:#603030;}
  .patsyntax span.dynexp  {color:#F00000;}
  .patsyntax span.stalab  {color:#0000F0;font-style:italic}
  .patsyntax span.dynlab  {color:#F00000;font-style:italic}
  .patsyntax span.dynstr  {color:#008000;font-style:normal}
  .patsyntax span.stacstdec  {text-decoration:none;}
  .patsyntax span.stacstuse  {color:#0000CF;text-decoration:underline;}
  .patsyntax span.dyncstdec  {text-decoration:none;}
  .patsyntax span.dyncstuse  {color:#B80000;text-decoration:underline;}
  .patsyntax span.dyncst_implement  {color:#B80000;text-decoration:underline;}
</style>

/* ****** ****** */

/* end of [ATS2FPCRASH-BOOK.css] */
