/*
**
** Author: Andrea Ferretti
** Author: Hongwei Xi (for minor changes)
**
*/

/* ****** ****** */

body {
  font-family:
  "Palatino Linotype",
  "Book Antiqua", Palatino, serif;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 150%;
}

font {
  font-family:
  Inconsolata, "Courier New", Courier, monospace;
  font-size: 90%;
  padding: 2px 4px;
  background-color: #e0e0e0;
}

a {
  color: #707070;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

h1 a {
  color: black;
  font-style: normal;
}

/* ****** ****** */

.programlisting {
  padding: 4px 8px;
  line-height: 144%;
  border-radius: 6px;
  background-color: #e0e0e0;
}

/* ****** ****** */

/* end of [ATS2TUTORIAL-BOOK.css] */
