/*
**
** Author: Andrea Ferretti
** Author: Hongwei Xi (for minor changes)
**
*/

/* ****** ****** */

body {
  font-family:
  "Palatino Linotype",
  "Book Antiqua", Palatino, serif;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 150%;
}

font {
  font-family:
  Inconsolata, "Courier New", Courier, monospace;
  font-size: 90%;
  padding: 2px 4px;
  background-color: #e0e0e0;
}

a {
  color: #707070;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

h1 a {
  color: black;
  font-style: normal;
}

/* ****** ****** */

.programlisting {
  padding: 4px 8px;
  line-height: 144%;
  border-radius: 6px;
  background-color: #e0e0e0;
}

/* ****** ****** */

body {
  max-width: 1200px;
  margin: 0;
}

.content {
   display: table-cell;
   padding-left: 12px;
}

.TOC.sidebar {
   display: table-cell;
   box-sizing: border-box;
   min-width: 300px;
   padding: 4px 8px 4px 8px;
   border-right: 1px dotted;
   text-align: left;
   font-size: 88%;
}

.TOC.sidebar a.selected {
   border-bottom: 2px solid;
}

.TOC.sidebar dd {
   margin-left: 0;
}

.TOC.sidebar > dl > dt {
   margin-top: 1em;
}

.TOC.sidebar > dl > dt > a {
   color: crimson;
}

.TOC.sidebar dl dl dl a {
   font-weight: normal;
}

.TOC.sidebar dl dl {
   padding-left: 1em;
}

.TOC.sidebar dl dl {
   display: none; /* Initial */
}

/* ****** ****** */

/* end of [INT2PROGINATS-BOOK.css] */
